# Django Application Settings
SECRET_KEY=django-insecure-outbound-pipeline-key
DEBUG=1
ALLOWED_HOSTS=*

# Database Settings (PostgreSQL default for Docker / Local Postgres)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=outbound_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Set to 1 to force local SQLite database
USE_SQLITE=0
