Django>=4.2,<5.0
djangorestframework>=3.14.0
django-filter>=23.2
psycopg2-binary>=2.9.6
pytest>=7.4.0,<8.3.0
pytest-django>=4.7.0,<4.9.0
pytest-cov>=4.1.0
factory-boy>=3.3.0
freezegun>=1.2.2
black>=23.7.0
flake8>=6.1.0
